<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">

        <title>LJMS - Home</title>
        
        <!-- CSS Import -->
        <link rel="stylesheet" href="css/main.css">

        <!-- import vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
        <script src="JS/vue.js"></script>

        <!-- import axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- import jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- Font-awesome Import -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

        <!-- Data table Import -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

        <!-- sweetalert -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <!-- select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    </head>

    <body id="app">
        <navbar-component v-bind:designation="designation"  @logout="ljps_logout"></navbar-component>

        <!-- main content -->
        <div class="Main__Content">
            <div class="tab-selection-wrapper">
                <button class="tab-selected" name="all">All</button>
                <button name="role">Role</button>
                <button name="skill">Skill</button>
                <button name="staff">Staff</button>
            </div>

            <!-- Role -->
            <div class="tab-selection-content role">
                <div class="header">
                    <div class="title">Role Management</div>
                    <button id="admin-role-btn_new" class="btn action_button" @click="roleNewBtn">New</button>
                </div>

                <table id="role-table" class="display responsive nowrap" width="100%">
                    <!-- This is a Data Table -->
                </table>
            </div>

            <!-- Skill -->
            <div class="tab-selection-content skill">
                <div class="header">
                    <div class="title">Skill/Course Management</div>
                    <button id="admin-skill-btn_new" class="btn action_button" @click="skillButtonAction = 'new'">New</button>
                </div>

                <table id="skill-table" class="display responsive nowrap" width="100%">
                    <!-- This is a Data Table -->
                </table>
            </div>

            <div class="tab-selection-content staff">
                <div class="header">
                    <div class="title">Staff Management</div>
                </div>

                <table id="staff-table" class="display responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="x in 20">
                            <td>{{ x }}</td>
                            <td>John</td>
                            <td>lol</td>
                            <td>lol@email.com</td>
                            <td>
                                <button class="admin-staff-btn_view">View</button>
                                <button class="admin-staff-btn_update">Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        

        <!-- Role Model -->
        <!-- Covers both Create and Update -->
        <div class="admin-model role">
            <div class="admin-model_content">
                <div class="admin-model_header">
                    <div class="title">Add Role</div>
                    <i class="fa fa-times admin-model_close role"></i>
                </div>

                <label>Role Name</label>
                <input class="textbox" v-model="new_role_name">
                <label>Description</label>
                <input class="textbox" v-model="new_role_desc">

                Skills
                <div>
                    <div v-for="skill, index in skillsByRole" v-bind:key="index">
                        {{ skill.skill_id }}
                        {{ skill.skill_name }}
                        <button v-on:click="skillsByRole.splice(index, 1)"> Delete </button>
                    </div>
                    <select v-model="new_role_skill" v-on:change="if(new_role_skill) { skillsByRole.push(new_role_skill) }; new_role_skill='';">
                        <option value="">Select skill to add:</option>
                        <option v-for="skill in skills" v-bind:key="skill.skill_id" v-bind:value="skill">
                            {{ skill.skill_id}}
                            {{ skill.skill_name }}
                        </option>
                    </select>
                </div>
                
                <div class="action-container">
                    <template v-if="roleButtonAction == 'new'">
                        <button class="action_button action_positive" v-on:click="createRole">Save</button>
                    </template>
                    <template v-else-if="roleButtonAction == 'update'">
                        <button class="action_button action_positive" v-on:click="updateRole(updateRoleID)">Save</button>
                    </template>
                    <button class="action_button action_back admin-model_close role">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Skill Model -->
        <!-- Covers both Create and Update -->
        <div class="admin-model skill">
            <div class="admin-model_content">
                <div class="admin-model_header">
                    <div class="title">Add Skill</div>
                    <i class="fa fa-times admin-model_close skill"></i>
                </div>

                <label>Skill Name</label>
                <input id="new_skill_name" class="textbox" v-model="new_skill_name">
                <label>Description</label>
                <input id="new_skill_desc" class="textbox" v-model="new_skill_desc">
                <label>Course</label>
                <select class="admin-model-select staff" name="states[]" multiple="multiple">
                    <option selected value="skill1">Skill1</option>
                    <option value="skill2">Skill2</option>
                    <option selected value="skill3">Skill3</option>
                    <option value="skill4">Skill4</option>
                </select>
                
                <div class="action-container">
                    <template v-if="skillButtonAction == 'new'">
                        <button class="action_button action_positive" v-on:click="createSkill">Save</button>
                    </template>
                    <template v-else-if="skillButtonAction == 'update'">
                        <button class="action_button action_positive" v-on:click="updateSkill(updateSkillID)">Save</button>
                    </template>
                    <button class="action_button action_back admin-model_close skill">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Staff Model -->
        <!-- Covers both View and Update -->
        <div class="admin-model staff">
            <div class="admin-model_content">
                <div class="admin-model_header">
                    <div class="title">Add Role</div>
                    <i class="fa fa-times admin-model_close staff"></i>
                </div>

                <label>First Name</label>
                <input class="textbox">

                <label>Last Name</label>
                <input class="textbox">
                
                <label>Email</label>
                <input class="textbox">

                <label>Department</label>
                <input class="textbox">

                <label>Skills</label>
                <select class="admin-model-select staff" name="states[]" multiple="multiple">
                    <option selected value="skill1">Skill1</option>
                    <option value="skill2">Skill2</option>
                    <option selected value="skill3">Skill3</option>
                    <option value="skill4">Skill4</option>
                </select>

                <label>Learning Journey</label>
                <select class="admin-model-select learning-journey" name="state">
                    <option v-for="x in 20" value="x">Learning Journey Name</option>
                </select>

                <div class="journey-model_list">
                    <div v-for="x in 20">
                        <input type="checkbox" id="checkbox1" name="checkbox1" value="checkbox1">
                        <label for="checkbox1">Checkbox1</label>
                    </div>
                </div>
                
                <div class="action-container">
                    <button class="action_button action_positive">Save</button>
                    <button class="action_button action_back admin-model_close staff">Cancel</button>
                </div>
            </div>
        </div>

        <footer>
            Created By: SPM Group 3
        </footer>
        
        <!-- vue -->
        <script type="text/javascript" src="JS/app.js"></script>

        <!-- custom js -->
        <script type="text/javascript" src="JS/javascript.js"></script>

    </body>
</html>
