<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">

        <title>LJMS - Home</title>
        
        <!-- CSS Import -->
        <link rel="stylesheet" href="css/main.css">

        <!-- import vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>

        <!-- import axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- import jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- Font-awesome Import -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

        <!-- Data table Import -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

        <!-- sweetalert -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <!-- select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    </head>

    <body id="app">
        <navbar-component v-bind:designation="designation"  @logout="ljps_logout"></navbar-component>

        <!-- main content -->
        <div class="Main__Content">

            <div class="details_content">
                <div class="main-header">
                    <div class="title">{{ course_details.course_name }}</div>
                    <div class="main-header-label status-label_complete">Completed</div>
                </div>
            </div>

            <div class="banner">
                <img src="https://cdn.pixabay.com/photo/2016/11/22/21/26/notebook-1850613_960_720.jpg">
            </div>

            <div class="details_content">
                <div class="header">
                    <div class="title">Description</div>
                </div>
                <div class="description">
                    <p>{{ course_details.course_desc }}</p>
                </div>
            </div>

            <div class="details_content">
                <div class="header">
                    <div class="title">Skills Covered</div>
                </div>
                <div class="course-tags-container">
                    <div class="course-tags" v-for="skill in skillsByCourse">{{ skill.skill_name }}</div>
                </div>
            </div>

            <div class="details_content">
                <div class="header">
                    <div class="title">Roles that may require this course:</div>
                </div>
                <div class="course-tags-container">
                    <div class="course-tags" v-for="role in rolesBySkill">{{ role.role_name }}</div>
                </div>
            </div>

            <div class="details_content">
                <div class="header">
                    <div class="title">Date Time / Location</div>
                </div>
                <div class="description">
                    <p><b>Date: </b>32 Febuary 2023</p>
                    <p><b>Time: </b>32 Febuary 2023</p>
                    <p><b>Location: </b>Inhouse, Office Unit #03-31</p>
                </div>
            </div>

            <div class="action-container">
                <button class="action_button action_back" v-if="designation == 3"> Edit Course </button>
                <button class="action_button action_back" onclick="history.back()">Back</button>
                <button id="journey-model" class="action_button action_positive">Add to Journey</button>
            </div>
        </div>

        <div class="journey-model">
            <div class="journey-model_content">
                <div class="journey-model_header">
                    <div class="title">Add to</div>
                    <i id="journey-model_close" class="fa fa-times"></i>
                </div>

                <div class="journey-model_list">
                    <div v-for="lj in learningJourneys">
                        <input type="checkbox" v-bind:id="lj.role_id" v-bind:name="lj.role_id" v-bind:value="lj.role_id" v-model="targetLJs">
                        <label v-bind:for="lj.role_id"> {{ lj.role_name }} </label>
                    </div>
                </div>

                <div class="action-container" v-if="!journeyCreate">
                    <button @click="journeyCreate=true" class="action_button action_positive">New Journey</button>
                    <button v-on:click="addCourseToLJs" class="action_button action_positive">Save</button>
                </div>
                <div class="action-container" v-else>
                    <select class="action_select">
                        <option value="journeyname">journeyname</option>
                        <option value="journeyname">journeyname</option>
                        <option value="journeyname">journeyname</option>
                    </select>
                    <button @click="journeyCreate=false" class="action_button action_positive">Create</button>
                    <button @click="journeyCreate=false" class="action_button action_back">Cancel</button>
                </div>

            </div>
        </div>

        <footer>
            Created By: SPM Group 3
        </footer>
        
        <!-- vue -->
        <script type="text/javascript" src="JS/app.js"></script>

        <!-- custom js -->
        <script type="text/javascript" src="JS/javascript.js"></script>

    </body>
</html>
