<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">

        <title>LJMS - My Journey</title>
        
        <!-- CSS Import -->
        <link rel="stylesheet" href="css/main.css">

        <!-- import vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>

        <!-- import axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- import jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- Font-awesome Import -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

        <!-- Data table Import -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

        <!-- sweetalert -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <!-- select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    </head>

    <body id="app">
        <navbar-component v-bind:designation="designation"  @logout="ljps_logout"></navbar-component>

        <!-- main content -->
        <div class="Main__Content">

            <!-- search bar -->
            <div class="search_bar">
                <input id="general_search" class="textbox" placeholder="What would you like to search?">
                <button class="btn">Search</button>
            </div>

            <div class="banner">
                <img src="https://cdn.pixabay.com/photo/2016/11/22/21/26/notebook-1850613_960_720.jpg">
                <div class="quick_banner-text">My Journey</div>
            </div>

            <div class="cards">
                <div class="header">
                    <div class="title">Current Learning Journeys</div>
                    <div class="action-wrapper">
                        <button id="journey-model-filter" class="action_button action_sort">A - Z</button>
                        <button id="journey-model" class="action_button action_positive">New</button>
                    </div>
                </div>

                <div class="course-card-container">
                    <div v-for="lj in learningJourneys" class="course-card">
                        <div class="course-img">
                            <img src="https://cdn.pixabay.com/photo/2016/11/22/21/26/notebook-1850613_960_720.jpg">
                        </div>
    
                        <div class="course-title">{{ lj.lj_name }}</div>
                        <div class="course-type">Total Skills Required: 10</div>
                        <div class="course-type">Not Started: 1</div>
                        <div class="course-type">On-going: 1</div>
                        <div class="course-type">Completed: 1</div>
                        <button class="btn myjourney-edit-btn" v-on:click="editLJ(lj)">Edit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="journey-model">
            <div class="journey-model_content">
                <div class="journey-model_header">
                    <div class="title">New Journey</div>
                    <i id="journey-model_close" class="fa fa-times"></i>
                </div>
                <div class="action-container">
                    <label for="learning_journey_name">Learning Journey Name</label>
                    <input id="learning_journey_name" type="text" class="textbox">

                    <label for="action_select">Role</label>
                    <select class="action_select">
                        <template v-for="role in roles">
                            <option :value="role.role_name">{{ role.role_name }}</option>
                        </template>
                    </select>
                    <button class="action_button action_positive">Create</button>
                    <button class="action_button action_back">Cancel</button>
                </div>

            </div>
        </div>

        <div class="journey-model-edit">
            <div class="journey-model_content">
                <div class="journey-model_header">
                    <div class="title">Edit Journey</div>
                    <i id="journey-model-edit_close" class="fa fa-times"></i>
                </div>

                <div class="journey-model_list">
                    <div v-for="x in 20">
                        <input checked type="checkbox" id="checkbox1" name="checkbox1" value="checkbox1">
                        <label for="checkbox1">Checkbox1</label>
                    </div>
                </div>

                <div class="action-container">
                    <button class="action_button action_positive">Save</button>
                    <button class="action_button action_back" v-on:click="closeJourneyWindow">Cancel</button>
                </div>
            </div>
        </div>

        <footer>
            Created By: SPM Group 3
        </footer>
        
        <!-- custom js -->
        <script type="text/javascript" src="JS/javascript.js"></script>

        <!-- custom vue.js -->
        <script src="JS/app.js"></script>

    </body>
</html>
