<html>
<head>
    View Skills By Role
</head>

<body>
    <div id="viewSkillsForRoleVue">
        <select v-model="selected">
            <option value=""> Select One: </option>
            <option v-for="role in roles" v-bind:value="role.role_id">
                {{ role.role_name }}
            </option>
        </select>
        <button type="button" v-on:click="getSkills()"> Get Skills By Role </button>
        <ol>
            <li v-for="skill in skills">
                {{ skill.skill_name }}
            </li>
        </ol>
    </div>
</body>
</html>


<script src="JS/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const viewSkillsForRoleVue = Vue.createApp({
        data() {
            return {
                roles: [],
                selected: 0,
                skills: []
            }
        },
        methods: {
            getRoles() {
                axios.get("PHP/functionGetAllRoles.php")
                    .then(response => {
                        if (response.status == 200) {
                            console.log(response.data)
                            this.roles = response.data.records
                        }
                    })
                    .catch(error => {
                        console.log(error.message);
                    });
            },

            getSkills() {
                console.log(this.selected)
                if (this.selected == 0) {
                    return;
                };

                axios
                .post("PHP/functionGetSkillsByRole.php", {
                    roleId: this.selected,
                })
                .then(response => {
                    if (response.status == 200) {
                        console.log(response.data)
                        this.skills = response.data.records
                    }
                })
                .catch(error => {
                    console.log(error.message);
                });
            }

        },
        beforeMount(){
            this.getRoles();
        },
})

const vm = viewSkillsForRoleVue.mount("#viewSkillsForRoleVue")
</script>

