<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">

        <title>LJMS - Skill Details</title>
        
        <!-- CSS Import -->
        <link rel="stylesheet" href="css/main.css">

        <!-- import vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>

        <!-- import axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- import jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- Font-awesome Import -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

    </head>

    <body id="app">
        <div class="Navbar__Wrapper">
            <!-- nav bar -->
            <div class="Navbar">
                <div class="Navbar__Link Navbar__Link-brand">
                    LJMS
                </div>
                <div onclick="classToggle()" class="Navbar__Link Navbar__Link-toggle">
                    <i class="fas fa-bars"></i>
                </div>
    
                <nav class="Navbar__Items">
                    <div class="Navbar__Link">
                        <a href="index.html">Home</a>
                    </div>
                    <div class="Navbar__Link">
                    <a href="job.html">Job</a>
                    </div>
                    <div class="Navbar__Link">
                    <a href="skills_course_search.html">Skills/Courses</a>
                    </div>
                </nav>
    
                <nav class="Navbar__Items Navbar__Items--right">
                    <div class="Navbar__Link">
                        <a href="myjourney.php">My Journey</a>
                    </div>
                    <div class="Navbar__Link">
                        <a href="#">Logout</a>
                    </div>
                </nav>
            </div>
        </div>

        <!-- main content -->
        <div class="Main__Content">

            <!-- search bar -->
            <div class="search_bar">
                <input id="general_search" class="textbox">
                <button class="btn">Search</button>
            </div>

            <div class="header">
                <div class="title">Skills / Course Search</div>
                <button id="journey-model-filter" class="action_button action_sort">A - Z</button>
            </div>

            <div class="search-page_body">
                <button id="search-filter" class="action_button action_positive">Filter</button>
                <div class="search-page_filter_container">
                    <div class="filter-container job-type_filter">
                        <div class="header-title">Job Type</div>
                        <div class="filter-itemlist-job">
                            <div v-for="course in courses" class="checkbox-field">
                                <input type="checkbox" id="checkbox" :name="course.course_name" :value="course.course_name">
                                <label for="checkbox1">{{ course.course_name }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="filter-container skills-type_filter">
                        <div class="header-title">Skills</div>
                        <div class="filter-itemlist-skill">
                            <div v-for="skill in skills" class="checkbox-field">
                                <input type="checkbox" id="checkbox" :name="skill.skill_name" :value="skill.skill_name">
                                <label for="checkbox">{{ skill.skill_name }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="search-page_filter_content">
                    <div class="cards">
        
                        <div class="course-card-container">
                            <div v-for="course in courses" class="course-card" :class="[course.course_name]">
                                <div class="course-img">
                                    <img src="https://cdn.pixabay.com/photo/2016/11/22/21/26/notebook-1850613_960_720.jpg">
                                    <div class="status-label status-label_complete">Completed</div>
                                </div>
            
                                <div class="course-title">{{ course.course_name }}</div>
                                <div class="course-type">{{ course.course_type }}</div>
                                <div class="course-description">{{ course.course_desc }}</div>
                                <div class="course-tags-container">
                                    <div class="course-tags">tag here</div>
                                    <div class="course-tags">tag here</div>
                                    <div class="course-tags">tag here</div>
                                    <div class="course-tags">tag here</div>
                                    <div class="course-tags">tag here</div>
                                </div>
                                <button class="btn">View</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

        <footer>
            Created By: SPM Group 3
        </footer>
        
        <!-- custom js -->
        <script type="text/javascript" src="JS/javascript.js"></script>

        <!-- custom vue.js -->
        <script src="JS/app.js"></script>

    </body>
</html>
