<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">

        <title>LJMS - Skill Details</title>
        
        <!-- CSS Import -->
        <link rel="stylesheet" href="css/main.css">

        <!-- import vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>

        <!-- import axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- import jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- Font-awesome Import -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

    </head>

    <body id="app">
        <div class="Navbar__Wrapper">
            <!-- nav bar -->
            <div class="Navbar">
                <div class="Navbar__Link Navbar__Link-brand">
                    LJMS
                </div>
                <div onclick="classToggle()" class="Navbar__Link Navbar__Link-toggle">
                    <i class="fas fa-bars"></i>
                </div>
    
                <nav class="Navbar__Items">
                    <div class="Navbar__Link">
                        <a href="index.php">Home</a>
                    </div>
                    <div class="Navbar__Link">
                    <a href="job.php">Job</a>
                    </div>
                    <div class="Navbar__Link">
                    <a href="skillcourse.php">Skills/Courses</a>
                    </div>
                </nav>
    
                <nav class="Navbar__Items Navbar__Items--right">
                    <div class="Navbar__Link">
                        <a href="myjourney.php">My Journey</a>
                    </div>
                    <div class="Navbar__Link">
                        <a href="#">Logout</a>
                    </div>
                </nav>
            </div>
        </div>

        <!-- main content -->
        <div class="Main__Content">

            <!-- search bar -->
            <div class="search_bar">
                <input id="general_search" class="textbox">
                <button class="btn">Search</button>
            </div>

            <div class="banner">
                <img src="https://cdn.pixabay.com/photo/2016/11/22/21/26/notebook-1850613_960_720.jpg">
                <div class="quick_banner-text">Skill Name Here</div>
            </div>

            <div class="details_content">
                <div class="header">
                    <div class="title">Skill Description</div>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
                </div>
            </div>
            <div class="cards">
                <div class="header">
                    <div class="title">Course related to [Skill]</div>
                    <button id="journey-model" class="action_button action_positive">Add to Learning Journey</button>
                </div>

                <div class="course-card-container">
                    <div v-for="course in courses" class="course-card">
                        <div class="course-img">
                            <img src="https://cdn.pixabay.com/photo/2016/11/22/21/26/notebook-1850613_960_720.jpg">
                            <div class="status-label status-label_complete">Completed</div>
                            <input type="checkbox" value="coursename" />
                            <span class="checkbox_mark"></span>
                        </div>
    
                        <div class="course-title">{{ course.course_name }}</div>
                        <div class="course-type">{{ course.course_type }}</div>
                        <div class="course-description">{{ course.course_desc }}</div>
                        <div class="course-tags-container">
                            <div class="course-tags">tag here</div>
                            <div class="course-tags">tag here</div>
                            <div class="course-tags">tag here</div>
                            <div class="course-tags">tag here</div>
                            <div class="course-tags">tag here</div>
                        </div>
                        <button class="btn">View</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="journey-model">
            <div class="journey-model_content">
                <div class="journey-model_header">
                    <div class="title">Add to</div>
                    <i id="journey-model_close" class="fa fa-times"></i>
                </div>

                <div class="journey-model_list">
                    <div v-for="x in 20">
                        <input type="checkbox" id="checkbox1" name="checkbox1" value="checkbox1">
                        <label for="checkbox1">Checkbox1</label>
                    </div>
                </div>

                <div class="action-container" v-if="!journeyCreate">
                    <button @click="journeyCreate=true" class="action_button action_positive">New Journey</button>
                    <button class="action_button action_positive">Save</button>
                </div>
                <div class="action-container" v-else>
                    <select class="action_select">
                        <option value="journeyname">journeyname</option>
                        <option value="journeyname">journeyname</option>
                        <option value="journeyname">journeyname</option>
                    </select>
                    <button @click="journeyCreate=false" class="action_button action_positive">Create</button>
                    <button @click="journeyCreate=false" class="action_button action_back">Cancel</button>
                </div>

            </div>
        </div>

        <footer>
            Created By: SPM Group 3
        </footer>
        
        <!-- custom js -->
        <script type="text/javascript" src="JS/javascript.js"></script>

        <!-- custom vue.js -->
        <script src="JS/app.js"></script>

    </body>
</html>
